body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  height: 710px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-header {
  height: 60px;
}

.header-right {
  display: flex;
  align-items: center;
}

.alert {
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.jeobsu {
  background-color: rgb(181, 208, 141);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.main {
  padding: 20px;
}

.box {
  width: 350px;
  height: 120px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  display: flex;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.pharmacy {
  margin-top: 20px;
  background-color: #fdfd96;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


#left-bus-info,
#right-bus-info {
  width: 45%;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#busInfoLeft div,
#busInfoRight div {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
}

.box.bus {
  width: 370px;
  height: 140px;
  margin-top: 20px;
  background-color: #698ae8;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.bus-station {
  width: 100%;
  height: 40%;
}

.bus-link {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.bus-logo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.bus-text {
  font-size: 25px;
  margin-top: 60px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#busInfo {
  width: 50%;
  margin: 0;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

#busInfo div {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 15px;
  line-height: 0.5;
}

.hospital {
  background-color: #ffd1dc;
  grid-column: 1;
  grid-row: 2 / span 2;
  text-align: center;
  height: 300px;
  margin-bottom: 20px;
}

.info {
  background-color: #ffcc99;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.ward {
  background-color: #d3d3d3;
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  margin-bottom: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-top: 1px solid #ccc;
}

.logo {
  height: 50px;
}

.icons {
  display: flex;
  gap: 10px;
}

.magnifying {
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.zoom {
  height: 50px;
  width: 50px;
}
.header-center {
  margin-left: 50px;
}

.modal {
  display: none;
  position: fixed;
  margin-left: 10px;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}